.module-button {
    background-color: #007bff;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
  }
  
  .module-button:hover {
    background-color: #0056b3;
  }
  
  .module-button.clicked {
    background-color: darkblue; /* Change to the desired color when clicked */
  }
  /* ModuleList.css */
.lesson-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .lesson-title {
    flex: 1; /* Expands to fill available space */
  }
  
  .lesson-icons {
    display: flex;
    align-items: center;
  }
  .list-group {
    list-style: none;
    padding: 0;
  }
  
  .list-group-item-custom {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-bottom: 20px; /* Increase the margin to add more space between items */
    border: 1px solid #ddd; /* Add an individual border to each list item */
  }
  