.dashboard-container {
    margin-left:20px; /* Adjust based on the width of your Kanbas Navigation sidebar */
    padding: 10px;
   
}

.course-card {
    width: 300px; /* Set the width of the course card */
    margin: 30px 15px; /* Set the margin to get the desired spacing */
    box-shadow: 0 0 5px 2px gray; /* Add a shadow effect with blue color */
}

.card-body-custom {
    padding:10px;
}